{% extends 'lesson_2/base_lesson_2_page.html' %}
{% load static %}

{% block conditional_statements_if_active %}
    sidebar_active
{% endblock conditional_statements_if_active %}

{% block page_content %}
    <!-- Skulpt -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/static/skulpt.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/static/skulpt-stdlib.js" type="text/javascript"></script>
    <script src="{% static 'lesson_2/js/variables.js' %}" type="text/javascript"></script>

    <!-- CodeMirror -->
    <script src="{% static 'code_mirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'code_mirror/mode/python/python.js' %}"></script>

    <h1>Bedingte Anweisungen - if</h1>
    <div class="description_container">
        Zu bestimmten Zeiten sind gewisse Entscheidungen unvermeidlich. So kann man kaum ein sinnvolles Programm
        schreiben, welches ohne jede Verzweigung auskommt. Bisher sind wir in der Lage Programme zu schreiben, in denen
        eine Anweisung auf die andere folgt und diese auch in dieser Reihenfolge ausgeführt werden. Aber nur wenige
        Probleme lassen sich durch einen linearen Programmablauf kontrollieren. Man möchte beispielsweise einen
        bestimmten Teil des Programmes nur dann ausführen, wenn bestimmte Bedingungen zutreffen oder ein anderer Teil
        soll gegebenenfalls mehrmals ausgeführt werden. Dazu bietet jede Programmiersprache Kontrollstrukturen, die sich
        in zwei Kategorien unterscheiden lassen: Verzweigungen und Schleifen.

        In einer Programmiersprache versteht man unter einer bedingten Anweisung, wie man Verzweigungen auch nennt,
        Codeteile, die unter bestimmten Bedingungen ausgeführt werden. Liegt die Bedingung nicht vor, wird dieser Code
        nicht ausgeführt. Anders ausgedrückt: Eine Verzweigung legt fest welcher von zwei (oder auch mehr)
        Programmteilen (Alternativen) in Abhängigkeit von einer (oder mehreren) Bedingungen ausgeführt wird. Bedingte
        Anweisungen und Verzweigungen werden in Programmiersprachen (ebenso wie die Schleifen) den Kontrollstrukturen
        zugerechnet, weil mit ihrer Hilfe ein Programm auf verschiedene Zustände, die sich aus Eingaben und Berechnungen
        ergeben, reagieren kann. Im folgenden Beispiel sehen Sie eine einfache if-Verzweigung in Python.
    </div>
    <img class="example_picture_container" src="{% static 'pictures/python_conditional_statements_if_example.PNG' %}"
         alt="Example of if statement">
    <div class="description_container">
        Wenn 50 kleiner als 100 ist, dann wird in diesem Fall "50 is smaller than 100" ausgegeben. Man kann dieses
        Konstrukt mit jedem Booleschen Operator verwenden. Im folgenden Textfeld haben Sie wieder selbstständig die
        Möglichkeit das eben gelernte auszuprobieren.
    </div>

    <h3>Bitte Code hier eingeben:</h3>
    <div class="skulpt_code_container">
        <form>
            <label for="custom_code"></label>
            <textarea id="custom_code" cols="40" rows="10"></textarea>
            <br/>
            <div id="skulpt_run_btn">
                <button type="button" onclick="runit()" class="form-btn btn my-2 my-sm-0">Run</button>
            </div>
        </form>
    </div>
    <h3>Output:</h3>
    <pre id="output"></pre>

    <div class="navigation_buttons_container">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'lesson_2_variables_exercise' %}" class="form-btn btn btn-danger my-2 my-sm-0">
                Prev
            </a>
            <a href="{% url 'lesson_2_turtle_graphics' %}" class="form-btn btn btn-success my-2 my-sm-0">
                Next
            </a>
        </div>
    </div>
{% endblock page_content %}