{% extends 'page/base_sidenav_page.html' %}
{% load static %}

{% block title %}
    Lesson 1 Test
{% endblock title %}

{% block lesson_1_active %}
    active
{% endblock lesson_1_active %}

{% block side_nav_header %}
    Lesson 1
{% endblock side_nav_header %}

{% block side_nav_content %}
    <li>
        <a href="{% url 'test_blockly_maze_embed' %}"
           class="{% block blockly_maze_active %}{% endblock blockly_maze_active %}">Blockly Maze</a>
    </li>
    <li>
        <a href="{% url 'test_blockly_custom' %}"
           class="{% block blockly_custom_active %}{% endblock blockly_custom_active %}">Blockly Custom</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
{% endblock side_nav_content %}