{% extends 'page/base_lesson_page.html' %}
{% load static %}

{% block title %}
    Lesson 1 Test
{% endblock title %}

{% block lesson_1_active %}
    active
{% endblock lesson_1_active %}

{% block side_nav_header %}
    Lesson 1
{% endblock side_nav_header %}

{% block side_nav_content %}
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
{% endblock side_nav_content %}

{% block page_content %}
    <iframe src="https://blockly-games.appspot.com/maze?lang=de&level=1&skin=0" frameborder="0"
            style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:70%;width:70%;position:absolute;top:120px;left:255px;right:0px;bottom:0px"
            height="100%" width="100%"></iframe>
{% endblock page_content %}